<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido Funcionario de la Mesa de Ayuda, ya iniciaste sessión {{session['nameUser']}}</h1>
        <nav>
            <ul>
                <li>
                    <a href="../template/User/listUser.html">Listar Usuario </a> 
    
                    <a href="../template/Category/listCategory.html">Listar Categoria </a> 
    
                    <a href="../template/Element/formElement.html">Registrar Elemento </a> 
                    <a href="../template/Element/listElement.html">Listar Elemento </a> 
                    
                    <a href="../template/Inventory/listInventory.html">Listar Inventario </a> 
    
                    <a href="../template/Location/formInstallation.html">Registrar Ubicación </a> 
                    <a href="../template/Location/listIntallation.html">Listar Ubicación </a> 
    
                    <a href="../template/Novelty/formNovelty.html">Registrar Novedad</a>            
                    <a href="../template/Novelty/listNovelty.html">Listar Novedad</a>            
    
                    <a href="../template/Reportes/formDocumentation.html">Registrar Reporte </a>            
                    <a href="../template/Reportes/listDocumentation.html">Listar Reporte </a>            
                    
                    <a href="../template/Revision/formRevision.html">Registrar Revisión</a>            
                    <a href="../template/Revision/listRevision.html">Listar Revisión</a>            
           
                </li>
            </ul>
        </nav>
</body>
</html>