:root{
    --white: #f1f1f1;
    --whiteClear: #ffffff;
    --verdeOscuro: #cef0ce;
    --verdeMarino: #5cce5c;
    --verdeNeon: #04b404;
    --verdeMarinoClaro: #84dc84;
    --verdeMarinoClaro2: #7cdc7c;
    --verdeLima: #30c430;
    --verdeClaroLima: #3cc43c;
    --verdeLimon: #24bc24;
    --verdeLimon2: #1cbc1c;
  
  }
  *{
      font-family: 'Fira-Sans', 'Nunito-Sans', sans-serif;
      color: #2E3542;
  }
  
  h1{
    text-align: center;
  }
  
  .regresar{
  color: var(--verdeLimon);
  text-decoration: none;
  }
  
  .regresar:hover{
    font-weight: bold;
  }
  
  
  
  nav{
    width: 100%;
    height: 70px;
    color: #fff;
  }
  
  .nav-img{
    margin: 8px;
    float: left;
    padding-left: 15px;
  }
  
  .home{
    text-decoration: none;
    color: var(--verdeLimon2);
    font-weight: 700;
    align-items: center;
  
  }
  
  
  .nav-link{
    margin: 20px;
    display: flex;
    flex-direction: row;
    float: right;
    text-decoration: none;
    color: var(--verdeLimon2);
    font-weight: 700;
  }
  
  .nav-link:hover{
    font-size: 15px;
    font-weight: 900;
  }
  
  h2{
    background-color: var(--green);
  }
  
  section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
  }
  
  .form-group {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      height: auto;
      padding: 16px;
  }
  
  
  input{
    display:flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  input:focus{
    background-color: #ddd;
    outline: none;
  }
  
  select{
    display:flex;
    justify-content: center;
    width: 110%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
    border: none;
    border-radius: 4px;
  }
  
  .btn-primary{
    text-align: center;
    background-color: var(--verdeLimon2)  ;
    color: var(--whiteClear);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 110%;
    font-size: 18px;
    border-radius: 6px;
  }
  
  .botoncito:active{
      font-weight: bold;
    }
  
    .lista{
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
    }

    .slide{
      width: 400px;
      height: 220px;
    }