<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="La página permitirá iniciar sesión">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Form Instalación|SISCA</title>
    <!--Enlazando Estilos-->
    <link rel="icon" type="image/x-icon" href="./img/logo-verde.png">
    <link rel="stylesheet" type="text/css" href="./css/styleform.css">
   <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Sans&family=Merriweather+Sans&family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=PT+Sans&family=Public+Sans&display=swap" rel="stylesheet">

    <!--Estilos Html5 y css3-->
    <link rel="stylesheet" type="image/x-icon" href="../../static/img/logo-verde.png">
    <link rel="stylesheet" href="../../static/css/form.css">

</head>
<body>
    <a href="/" >Regresar</a>
    <img src="../../static/img/logo-verde.png" alt="logo" width="100">
    <div class="contenedor">
        <h1 class="title">Agregar Installación</h1>
        <form th:action="@{/installation/add}" th:object="${installation}" method="post">
            <div classs="form-floating">
                <label for="pisoInstallation ">pisoInstallation</label>
                <input type="text" class="form-control" id="pisoInstallation" required">
            </div>

            <div class="form-floating">
                <label for="detalleInstallation">detalleInstallation</label>
                <input type="text" class="form-control" id="detalleInstallation" required>
            </div>

            <div class="form-floating">
                <label for="estadoInstallation">estadoInstallation</label>
                <input type="text" class="form-control" id="estadoInstallation" required>
            </div>
            
            <div>
                <button type="submit" class="btn-primary" name="accion" >Guardar</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>